[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jiatong Niu ~ (Jiatong-Niu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jiatong Niu ~ (Jiatong-Niu)
	label-Verified = -1..+1 group user/Jiatong Niu ~ (Jiatong-Niu)
	push = group user/Jiatong Niu ~ (Jiatong-Niu)
	read = group user/Jiatong Niu ~ (Jiatong-Niu)
	rebase = group user/Jiatong Niu ~ (Jiatong-Niu)
	removeReviewer = group user/Jiatong Niu ~ (Jiatong-Niu)
	submit = group user/Jiatong Niu ~ (Jiatong-Niu)
[access "refs/heads/*"]
	create = group user/Jiatong Niu ~ (Jiatong-Niu)
	push = +force group user/Jiatong Niu ~ (Jiatong-Niu)
	pushMerge = group user/Jiatong Niu ~ (Jiatong-Niu)
	read = group user/Jiatong Niu ~ (Jiatong-Niu)
[access "refs/tags/*"]
	push = group user/Jiatong Niu ~ (Jiatong-Niu)
	push = +force group user/Jiatong Niu ~ (Jiatong-Niu)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = true
	rejectWindowsLineEndings = true
